body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: white;
}

header {
    background-color: #7d5e7f;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.logo {
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.logo-text h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

    nav a:hover {
        color: #e9d9f9;
    }
.logoIMG {
    position: absolute;
    top: 0;
    left: 5%;
    width: 13%;
    height: 22%;
}

.section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', Times, serif;
}

.logo h1 {
    font-family: 'Times New Roman', Times, serif;
}

.section h2 {
    text-align: center;
    color: #7d5e7f;
    font-family: 'Times New Roman', Times, serif;
}

.section p {
    text-align: center;
    font-family: Times New Roman, Times, serif;
    font-size: 18px;
}


.gallery {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

    .gallery div img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

        .gallery div img:hover {
            filter: contrast(115%);
        }
.container {
    margin: 0 39%;
}
.container table {
    border: solid black 3px;
    height: 7px;

}

    .container table thead tr th {
        border: solid black 2px;
    }

    .container table tbody tr td {
        border: solid black 2px;
        padding:3% 20px;
    }


footer {
    text-align: center;
    padding: 1rem;
    background-color: #a99d9d;
    color: white;
    margin-top: 2rem;
}
